*

!.gitignore
!*.org
!*.md

!lessons

!lessons/python
!lessons/python/*.org
!lessons/python/*.md

!lessons/python/coreyschafer
!lessons/python/coreyschafer/*

!lessons/python/FluentPython
!lessons/python/FluentPython/*.org

!lessons/python/helloworld/
!lessons/python/helloworld/*.py
!lessons/python/helloworld/hellopackage/
!lessons/python/helloworld/hellopackage/*.py

!lessons/python/python-lernen.de/
!lessons/python/python-lernen.de/*.py

!lessons/elisp
!lessons/elisp/*.org

!lessons/bash
!lessons/bash/*.org

!CPP
!CPP/*
!CPP/
!CPP/*
!CPP/*/*.cpp
!CPP/*/*.h
!CPP/*/include
!CPP/*/include/*.h
!CPP/*/src
!CPP/*/src/*.cpp
!CPP/*/src/include
!CPP/*/src/include/*.h
!CPP/*/.project
!CPP/*/.dir-locals.el
!CPP/*/CMakeLists.txt



